[submodule ".private/test/simpletest"]
	path = .private/test/simpletest
	url = git://github.com/99designs/simpletest.git
[submodule ".private/scripts/lib/lessc"]
	path = .private/scripts/lib/lessc
	url = git://github.com/leafo/lessphp.git
