#
# Redirects all access to gateway.php.
#
<IfModule rewrite_module>

  #
  # Rewrite starts
  RewriteEngine On

  # note; When working with sub-directories, make sure you also edits
  #       $options[prefix] in FileResolver.
  RewriteBase /

  #
  # Prevent redirection loops
  RewriteCond %{REQUEST_URI} !.private/gateway.php$ [NC]
  # Start redirecting to gateway
  RewriteRule .* .private/gateway.php [L]

</IfModule>

#
# Take away slashes, leaves everything to resolvers.
#
DirectorySlash Off

#
# Shared hosting shits
#
<Limit OPTIONS HEAD DELETE PUT>
  Order Deny,Allow
</Limit>
